nav{

    display: flex;
    color: white;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 0;
}
div{
    padding: 30px;
}
.ss{
    color: white;
}

.store{
    color: white;
}
p{
    color: white;
    text-align: center;
    background-color: rgb(34, 33, 33);
    padding: 20px;
}

a{
    text-decoration: none;
}

div:hover{
    font-size: 20px;      
    /* for hover effect */
    }

a:hover{
font-size: 40%;
}